body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.ring-category {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ring-category img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.ring-category h2 {
    color: #444;
    font-size: 24px;
    margin: 10px 0;
}

.ring-category p {
    color: #666;
    font-size: 16px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
